window {
  border-radius: 20px;
  background: rgba(30, 30, 46, 0.95);
  border: 1px solid #27273A;
}

#input {
  padding: 0.2rem 1rem;
  border-radius: 8px;
  margin: 10px 10px 2px 10px;
  background: rgba(255, 255, 255, 0.1);
}

#inner-box {
  padding: 1rem;
  font-weight: bold;
}

#outer-box {
  border-radius: 8px;
}

#scroll {
  margin-top: 5px;
  border-radius: 8px;
  margin-bottom: 5px;
}

#img {
  transform: scale(0.5);
}

#img:selected {
  border-radius: 8px;
}

#text {
  margin-left: 0.5rem;
}

#text:selected {
  border: none;
  border-radius: 8px;
}

#entry {
  border-radius: 8px;
  padding: 0.5rem;
}

#entry:selected {
  background-color: rgba(255, 255, 255, 0.1);
  outline: none;
}
